<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>文章</title>
	{{include 'meta'}}


	<!-- build:css css/article_vendor.css -->
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbuild -->

	<!-- build:css css/article.css -->
	<link rel="stylesheet" href="css/article.css">
	<!-- endbuild -->
</head>
<body>
	{{include 'header'}}

	<div class="container">
		<div class="row main-container">
			<div class="col-md-3">
				{{include 'sidebar'}}
			</div>

			<div class="col-md-9">
				<ol class="breadcrumb">
				  <li><a href="/article">文章</a></li>
				  <li class="active">{{crumb.crumb}}</li>
				</ol>
				{{if crumb.description}}
					<div class="well well-sm">描述：{{crumb.description}}</div>
				{{/if}}
<!-- 				<div class="catalog-item">
				    <h4><a href="#">[置顶]开源服务专题之--------mysql的编译安装</a> <span class="label label-default label-danger">New</span></h4>
				    <p>摘要: 为什么选择MySQL 为什么选择MySQL 1:mysql性能卓越，服务稳定，很少出现异常宕机 2:mysql开源免费，无版权制约，自主性及使用成本低 3:产品耦合度，mysql支持多种操作系统，支持多开发语言，特别是php 4:技术积累，庞大的活跃的社区, 5:软件体积小，安装简单，易于维护 My。</p>
				    <div class="posted-desc text-right">发表于 @ 2016-10-18 23:02 Rectcircle 阅读(40) 评论(0)</div>
				</div> -->
				{{each catalogs}}
				<div class="catalog-item">
				    <h4>
				    <a href="/detail/{{$value.id}}">{{$value.title}}</a> 
				    {{if $value.isNew}}
				    	<span class="label label-default label-danger">New</span>
				    {{/if}}
				    </h4>
				    <p>摘要: {{$value.digest}}</p>
				    <div class="posted-desc text-right">发表于 @ {{$value.createTime}} {{$value.author}} 阅读({{$value.readTimes}}) <!-- 评论({{$value.commentTimes}}) --></div>
				</div>
				{{/each}}

			</div>

			<nav class="paging-container pull-right">
			  <ul class="pagination">
			    <!-- <li class="disabled" ><a href="#">&laquo;</a></li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><a href="#">&raquo;</a></li> -->
				
				<% var nowPage = +pageInfo.nowPage || 1 %>

			    <li <% if(nowPage === 1){ %> class="disabled" <%  } %> ><a <% if(nowPage !== 1){ %>  href="<%= path %><%=nowPage-1%>" <%  } %> >&laquo;</a></li>

			    <% for(var i=1; i<=pageInfo.pageCount; i++){ %>
						<li <% if( i===nowPage ){ %> class="active disabled" <% } %>><a <% if( i!==nowPage ){ %>href="<%= path %><%=i%>" <% } %>><%= i %></a></li>
			    <% } %>


			    <li <% if( pageInfo.pageCount === nowPage ){ %> class="disabled" <% } %> ><a <% if( pageInfo.pageCount !== nowPage ){ %> href="<%= path %><%=nowPage+1%>" <% } %>>&raquo;</a></li> 

			  </ul>
			</nav>

		</div>
	</div>

	{{include 'footer'}}
	{{include 'backtop'}}

	<!-- <a href="###" id="backTop">返回顶部</a> -->

	<!-- build:js js/article-vendor.js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/ns-core/dist/ns-core.js"></script>
	<!-- endbuild -->

	<!-- build:js js/article-main.js -->
	<script src="js/utils/scrollTo.js"></script>
	<script src="js/module/backTop.js"></script>
	<script src="js/article.js" ></script>
	<!-- endbuild -->

</body>
</html>